/* Import font biar lebih elegan ala bakery */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

/* Custom Scrollbar biar nggak kaku */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #F9F6F0; 
}

::-webkit-scrollbar-thumb {
    background: #DCD3C5; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8C7A70; 
}

/* Kalo lo mau nambah animasi atau ngerubah gaya tombol, editnya murni di file ini aja */